<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Public/style.css">

        <!-- Intégration du JS (Partie 2.1) -->
        <script src="Public/JS/FermeEngine.js" defer></script>
        <script src="Public/JS/main.js" defer></script>

        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
        <nav>
                <ol>
                        {% if not session %}
                                <li><a href="/login">Login</a></li>
                        {% else %}
                                <li><a href="/dashboard">Dashboard</a></li>
                                <li><a href="/logout">Logout</a></li>
                        {% endif %}
                </ol>
        </nav>
    {% block content %}{% endblock %}
</body>
</html>